@import "compass";

@import "custom/color";

@import "base";
@import "parts";
@import "plugins";


figure.code {
  margin-top: -10px;
  margin-bottom: 15px;

  table {
    margin: 0;
  }

  code  {
    font: 13px monospace;
    line-height: 13px;
  }

  td.code {
    padding-left: 10px;
  }

  .line-numbers {
    padding-right: 10px;

    .line-number {
      font: 13px monospace;
      line-height: 13px;
    }
  }
}
